:root{
  box-sizing: border-box;
  --very-dark-blue: #0D1321;
  --dark-blue: #1D2D44;
  --medium-blue: #3E5C76;
  --light-blue: #3E5C76;
  --whitish: #F0EBD8;
}

*,
::before,
::after{
  box-sizing: inherit;
}

html ::selection{
  color: var(--dark-blue);
  background-color: var(--whitish);
}

body{
  height: 100vh;
  overflow: hidden;
}

.flex{
  display: flex;
  gap: 1em;
}

.flex-column{
  flex-direction: column;
}

.flex-center-all{
  justify-content: center;
  align-items: center;
}

.medium-gap{
  gap: 2em;
}

.large-gap{
  gap: 4em;
}

.bc-white{
  background-color: var(--whitish);
}

.bc-vd-blue{
  background-color: var(--very-dark-blue);
}

.bc-d-blue{
  background-color: var(--dark-blue);
}

.bc-m-blue{
  background-color: var(--medium-blue);
}

.bc-l-blue{
  background-color: var(--light-blue);
}

.c-white{
  color: var(--whitish);
}

.c-vd-blue{
  color: var(--very-dark-blue);
}

.c-d-blue{
  color: var(--dark-blue);
}

.c-m-blue{
  color: var(--medium-blue);
}

.c-l-blue{
  color: var(--light-blue);
}

.font-small{
  font-size: 1em;
}

.font-medium{
  font-size: 2em;
}

.font-large{
  font-size: 4em;
}
