:root{
    box-sizing: border-box;
    --very-dark-blue: #0D1321;
    --dark-blue: #1D2D44;
    --medium-blue: #3E5C76;
    --light-blue: #3E5C76;
    --whitish: #F0EBD8;
}

*,
::before,
::after{
    box-sizing: inherit;
}

body{
    height: 100vh;
    overflow: hidden;
}

.flex{
    display: flex;
}

.flex-center-all{
    justify-content: center;
    align-items: center;
}

